<footer class="text-center  text-lg-start mt-4 mt-auto" id="footer">
	<!-- Copyright -->
	<div class="text-center p-2">
		© 2024 Copyright:
		<a class="text-body" href="{{ path('app_main_index')}}">Thierry Dothee &nbsp;&nbsp;<i class="bi bi-github"></i>
		</a>
	</div>
	<!-- Copyright -->
</footer>
