<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #eeedea;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NavBar Fixed top</a>
  </div>
</nav>