{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="text-center">
		{% include('/components/caroussel.html.twig') %}
		<div class="container marketing">
			{% include('/components/card.html.twig') %}
		</div>
	</div>
{% endblock %}
