{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="text-center">
		<h1>Articles</h1>
		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			{% for article in articles %}
				{% include('/components/card.html.twig') %}
			{% endfor %}
		</div>
		{# display navigation #}
		<div class="navigation d-flex justify-content-center mt-4 mb-4">
			{{ knp_pagination_render(articles) }}
		</div>
	</div>

{% endblock %}
