{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
<div class="container" id="page_article_new">
	<div class="row mb-4">
		<div class="col-md-2">
			{% include('pages/main/side.html.twig') %}
		</div>
		<div class="col-md-10">
		{% include('pages/main/article.html.twig') %}
		</div>
	</div>
	</div>
{% endblock %}